*{
  font-size: 16px;
}
.form-group{
  display: flex;
  height: 30px;
}
.container{
  display:grid;
  grid-gap:5px;
  line-height: 25px;
  margin-left: 25px;
}
label {
  margin-left: -15px;
  font-size: 18px;
} 
.form-group > .btn-submit {
  height: 30px;
  margin-left: -15px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  background-color:white;
  font-weight: bold;
  font-size:18px;
  color: navy;
  border: 0;
}
