<form [formGroup] = "addingProductForm" (ngSubmit)="submit()" novalidate >
  <div class ="container">
    <label>Product Name</label>
  <div class ="form-group">  
    <input class="form-control" name="name" formControlName="productName" placeholder="Set the product name"/>
    <div class="alert alert-warning" 
      *ngIf = "addingProductForm.controls['productName'].invalid && addingProductForm.controls['productName'].touched">
      Product name isn't valid
    </div>
  </div>
  <label>Amount</label>
  <div class ="form-group">
    <input class="form-control" name="amount" formControlName="productAmount" placeholder="0"/>
    <div class="alert alert-warning" 
      *ngIf = "addingProductForm.controls['productAmount'].invalid && addingProductForm.controls['productAmount'].touched">
      Product amount isn't valid
    </div>
  </div>
  <label>Price</label>
  <div class ="form-group">
    <input class="form-control" name="price" formControlName="productPrice" placeholder="0.0"/>
    <div class="alert alert-warning" 
      *ngIf = "addingProductForm.controls['productPrice'].invalid && addingProductForm.controls['productPrice'].touched">
     Product price isn't valid 
    </div>
  </div>
  <div class ="form-group">
    <button type="submit" class="btn btn-default" 
      [disabled] = "addingProductForm.invalid">
      Add
    </button>
  </div>
  </div>
</form>
