*{
  border-radius: 6px;
  font-size: 16px;
}
.container{
  display:grid;
  grid-gap:5px;
  line-height: 25px;
  margin-left: 25px;
}
.container > .form-group{
  display: flex;
  height: 30px;
}
.container > label {
  margin-left: -15px;
  font-size: 18px;
} 
.container > .form-group > button {
  height: 30px;
  margin-left: -15px;
}
.ng-touched .ng-invalid {
  border:solid rgb(182, 3, 113) 2px;
}
.alert-warning{
  color:  rgb(182, 3, 113);
}
.ng-touched .ng-valid {
  border: solid green 2px;
}