*{
  font-size: 16px;
}
.container{
  display:grid;
  grid-gap:5px;
  line-height: 25px;
  margin-left: 25px;
}
.container > .form-group{
  display: flex;
  height: 30px;
}
.container > label {
  margin-left: -15px;
  font-size: 18px;
} 
.container > .form-group > .btn-submit {
  height: 30px;
  margin-left: -15px;
}

table{
  border-spacing: 20px;
}
.t-head{
  font-style: italic;
}
.btn {
  display: inline-flex;
  justify-content: center;
  background-color:white;
  font-weight: bold;
  font-size:18px;
  color: navy;
  border: 0;
}

.btn-delete {
  color:mediumvioletred;
  padding-bottom: 20px;
  height: 20px;
  width: 20px;
}
.btn-delete:hover {
  color:rgba(199, 21, 134, 0.562);
}